<%- layout('layouts/main')%>
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<p class="centrado">
<img src="/images/about.jpg" width="1100"  height="530">
</p>

<div class="row">
  <div class="col-xs-7 col-md-6">
    <div class="card mt-5 text-center" style="background-color: #e5e3eb">
      <div class="card.header">
        <h2> </h2>
        <h2> </h2>
        <h2> Registrarse </h2>
            <div class="card-body">
      <form action="/signup" method="POST">
        <div class="form-group">
      <input type="email" name="email" placeholder="Email" class="form-control">
      <input type="password" name="password" placeholder="Password" class="form-control">
      <button type="submit" class="btn btn-primary btn-block mt-4">
        SignUp
      </button>
    </form>
  </div>
</div>
</div>
</div>

</div>  